.drawer-header
{
    height: 64px;
    background-color: #00a884de;    
    width: 100%;
}
#groupname:focus {
    box-shadow: none;
    border-color: transparent;
    border-bottom-color: #00a884de;
  }
.searchChats
{    
    overflow-y: scroll;

}
